
<!-- 
<router-outlet></router-outlet> -->

<!-- <app-form-card></app-form-card>

<app-login-form></app-login-form> -->

<ngx-one-column-layout >
    <app-menu></app-menu>
    <router-outlet></router-outlet>
  </ngx-one-column-layout>