<div class="d-flex justify-content-around">
    <!-- <h6 class="green-text" *ngIf="cell.row == 'accepted'">{{cell.row | translate}}</h6>
    <h6 class="red-text" *ngIf="cell.row == 'pending'">{{cell.row | translate}}</h6>
    <h6 class="grey-text" *ngIf="cell.row == 'refused'">{{cell.row | translate}}</h6>
    <h6 class="grey-text" *ngIf="cell.row == 'disabled'">{{cell.row | translate}}</h6> -->

    <button *ngIf="cell.row == 'accepted'" nbButton [status]="'success'" nbPopover="change to  Refuse" nbPopoverTrigger="hover" nbPopoverPlacement="right" hero [shape]="'round'" [size]="'medium'" (click)="onClick('refused')">
      <i class="fa fa-check-double" aria-hidden="true"></i>
    </button>

    <button *ngIf="cell.row == 'pending'" nbButton [status]="'warning'" nbPopover="change to Accept" nbPopoverTrigger="hover" nbPopoverPlacement="right" hero [shape]="'round'" [size]="'medium'" (click)="onClick('accepted')">
      <i class="fa fa-pause" aria-hidden="true"></i>
    </button>
    <button *ngIf="cell.row == 'refused'" nbButton [status]="'danger'" nbPopover="change to Pending" nbPopoverTrigger="hover" nbPopoverPlacement="right" hero [shape]="'round'" [size]="'medium'" (click)="onClick('pending')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>

    <!-- <button *ngIf="cell.row == 'pending'" class="btn-floating  waves-effect waves-light red darken-3 z-depth-1" (click)="onClick($event)">
        <i class="material-icons"> access_time</i></button>

    <button *ngIf="cell.row == 'refused'" class="btn-floating  waves-effect waves-light grey darken-2 z-depth-1" (click)="onClick($event)">
          <i class="material-icons"> close</i></button>

    <button *ngIf="cell.row == 'disabled'" class="btn-floating  waves-effect waves-light grey darken-2 z-depth-1" (click)="onClick($event)">
      <i class="material-icons"> close</i></button> -->
</div>