
<div [formGroup]="form">

  <div [formGroupName]='field.name'>

    <div class="col-md-12">
        <label class="label text-primary">{{ field.label?field.label:field.name | translate}} {{'in English' | translate}}</label>
        <label *ngIf="field.required" class="label text-danger">*</label>
        <input type="text" *ngIf="!field.multiline" [attr.type]="field.type" [id]="field.name.en" [name]="field.name" formControlName="en" (change)="formValue.emit(this.form.value)" nbInput fullWidth fieldSize="large" shape="round" placeholder="{{ field.label?field.label:field.name | translate}} {{'in English' | translate}}">
        <textarea *ngIf="field.multiline" formControlName="en" [id]="field.name.en" (onchange)="formValue.emit(this.form.value) " [(ngModel)]='field?.value.en' rows="3" nbInput fullWidth shape="round" placeholder="{{ field.label?field.label:field.name | translate}} {{'in English' | translate}}"></textarea>
    </div>
    <div class="col-md-12">
      <label class="label text-primary">{{ field.label?field.label:field.name | translate}} {{'in Arabic' | translate}}</label>
      <label *ngIf="field.required" class="label text-danger">*</label>
        <input type="text" *ngIf="!field.multiline" [attr.type]="field.type" [id]="field.name.ar" [name]="field.name" formControlName="ar" (change)="formValue.emit(this.form.value)" nbInput fullWidth fieldSize="large" shape="round" placeholder="{{ field.label?field.label:field.name | translate}} {{'in Arabic' | translate}}">
        <textarea *ngIf="field.multiline" formControlName="ar" [id]="field.name.ar" (onchange)="formValue.emit(this.form.value) " [(ngModel)]='field?.value.ar' rows="3" nbInput fullWidth shape="round" placeholder="{{ field.label?field.label:field.name | translate}} {{'in Arabic' | translate}}"></textarea>
    </div>



  </div>
</div>
