

<div class="d-flex justify-content-center-align">
    <p class="text-black" *ngIf="override.isRTL()">{{selected.name1}}</p>
    <p class="text-black" *ngIf="!override.isRTL()">{{selected.name2}}</p>
</div>




<ng-template #contentTemplate let-data>
    <input  type="text" id="filter-text-box" 
    [(ngModel)]="searchValue" nbInput fullWidth fieldSize="medium" (change)="filter()"
       shape="rectangle" placeholder="{{ 'Search..' | translate}}">
    <ag-grid-angular #agGrid id="myGrid" style="width: 100%; height: 300px;" class="ag-theme-alpine"  [columnDefs]="columnDefs" [rowData]="rowData" [enableRtl]='override.isRTL()' (gridReady)="onGridReady($event)" rowSelection="single" [pagination]="true"
        [suppressRowClickSelection]="true" [rowSelection]='rowSelection' (selectionChanged)="onSelectionChanged($event)" [paginationAutoPageSize]="true" (rowSelected)="rowSelected($event)">
    </ag-grid-angular>

    <button nbButton fullWidth  [status]="'success'" hero [shape]="'round'" [size]="'medium'" (click)="selectRow()">
      {{'select' |translate}}
    </button>
</ng-template>