<div [formGroup]="form">
   <label *ngIf="!field.fromArray" for='field.name' class="label text-primary">{{field.label?field.label:field.name | translate}}</label>
        <label for='field.name' *ngIf="field.required && !field.fromArray" class="label text-danger">*</label>

    <nb-select [id]="field.name" [formControlName]="field.name" [multiple]='field.multiple===true?true:false' fullWidth fieldSize="large" shape="rectangle"
    (selectedChange)="selectedChange($event)" placeholder='{{field.name | translate}}'>
        <nb-option *ngFor="let item of field.options" value="{{item.value}}">{{item.label}}</nb-option>
    </nb-select>
</div>