<!-- <hr>
<form [formGroup]="form">
    <h5 class="text-info text-center">{{field.name | translate}}</h5>
    <div [formArrayName]="field.name">

            <table class="table table-bordered">
                <thead>
                  <tr >
                    <th class="text-danger" *ngFor="let f of field.children" scope="col">{{f.label}}</th>
                    <th class="text-danger" scope="col">{{'Add' | translate}}</th>
                    <th class="text-danger" scope="col">{{'Remove' | translate}}</th>

                  </tr>
                </thead>
                <tbody *ngFor="let item of Forms.controls; let i=index" [formGroupName]="i">
                  <tr   >
                    <td *ngFor="let f of field.children">
                        <field-builder [isArray]='true' [field]="f" [form]="item" [isEditMode]="isEditMode"></field-builder></td>
                    <td> <nb-action icon="plus" (click)="addRow()" ></nb-action></td>
                    <td> <nb-action icon="trash" (click)="removeRow(i)" ></nb-action></td>
                  </tr>

                </tbody>
              </table>

    </div>
</form> -->
<hr>
<form [formGroup]="form" >
    <h5 class="text-info text-center">{{field.name | translate}}</h5>
    <div [formArrayName]="field.name" *ngIf="field.shape === 'list'">
     <div class="row">
      <div class="col-md-6" *ngFor="let item of Forms.controls; let i=index" [formGroupName]="i">
        <nb-card size="large" >
          <nb-card-header>
            Some fruits
          </nb-card-header>
          <ng-container  >
            <nb-list>
              <nb-list-item *ngFor="let f of field.children">
                <field-builder [isArray]='true' [field]="f" [form]="item" [isEditMode]="isEditMode" style="width: 100%;"></field-builder>
                <!-- <nb-user [name]="user.name" [title]="user.title">
                </nb-user> -->
              </nb-list-item>
              <nb-list-item >
                <div class="w-100 text-center">
                  <h5  class="text-danger" > {{'Add' | translate}} </h5> <nb-action class="justify-content-center" [id]="i" icon="plus" (click)="addRow()" ></nb-action>
                </div>
              </nb-list-item>
              <nb-list-item >
                <div class="w-100 text-center">
                  <h5 class="text-danger" > {{'Remove' | translate}} </h5> <nb-action class="justify-content-center" [id]="i" icon="trash" (click)="removeRow(i)" ></nb-action>
                </div>
              </nb-list-item>

            </nb-list>
          </ng-container>

        </nb-card>
    </div>
     </div>
    </div>

    <div [formArrayName]="field.name" *ngIf="field.shape === 'table' || field.shape == null || field.shape == undefined ">

      <table class="table table-bordered">
          <thead>
            <tr >
              <th class="text-danger" *ngFor="let f of field.children" scope="col">{{f.label}}</th>
              <th class="text-danger" scope="col">{{'Add' | translate}}</th>
              <th class="text-danger" scope="col">{{'Remove' | translate}}</th>

            </tr>
          </thead>
          <tbody *ngFor="let item of Forms.controls; let i=index" [formGroupName]="i">
            <tr   >
              <td *ngFor="let f of field.children">
                  <field-builder [isArray]='true' [field]="f" [form]="item" [isEditMode]="isEditMode"></field-builder></td>
              <td> <nb-action icon="plus" (click)="addRow()" ></nb-action></td>
              <td> <nb-action icon="trash" (click)="removeRow(i)" ></nb-action></td>
            </tr>

          </tbody>
        </table>

</div>
</form>

