<div [formGroup]="form">
  <label *ngIf="!field.fromArray" [for]='field.name' class="label text-primary">{{field.label?field.label:field.name | translate}}</label>
  <label [for]='field.name' *ngIf="field.required && !field.fromArray" class="label text-danger">*</label>
  <div class="row">
      <div class="col-10  text-center">
          <!-- <input type="file" (change)="uploadFile($event)" nbButton fullWidth hero [shape]="'round'" [fieldSize]="'medium'" nbInput /> -->
          <p *ngIf="! downloadURL">
              <label class="upload-button">
            <input class="text-warning" [disabled]='disabled' type="file" accept="field.view+'/'" (change)="uploadFile($event)">
            {{'Select File'|translate}}
          </label> {{'to upload' |translate}}.
              <nb-progress-bar [value]="percentage | async" [size]='"tiny"' [status]='"primary"'></nb-progress-bar>
          </p>
          <p *ngIf="downloadURL">
              {{'Delete Current File To Upload Other One' |translate}}.
          </p>
      </div>
      <div [attr.class]="disabled?'col-2':'col-1'">
          <nb-action *ngIf="form.value[field.name]" [icon]="viewIcon" [nbPopover]="imageView" nbPopoverTrigger="hover"></nb-action>
      </div>
      <div class="col-1" *ngIf="!disabled">
          <nb-action *ngIf="form.value[field.name]" [icon]="trashIcon" (click)="deleteFile(form.value[field.name])"></nb-action>
      </div>
  </div>
  <br>
</div>
<ng-template #imageView>


  <!-- <img class="img-thumbnail rounded  " /> -->
  <picture>
      <img [src]="downloadURL" class="img-fluid img-thumbnail rounded" alt="...">
  </picture>

  <a class="text-center " *ngIf="downloadURL" href="{{downloadURL}} " target="_blank ">{{'click Here To Download' |translate}}</a>

</ng-template>
