<div [formGroup]="form">
    <div [ngSwitch]="field.type">
        <text-localized *ngSwitchCase="'text-localized'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></text-localized>
        <editor *ngSwitchCase="'editor'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></editor>
        <editor-localized *ngSwitchCase="'editor-localized'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></editor-localized>
        <textbox id="text" *ngSwitchCase="'text'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></textbox>
        <textbox id="number" *ngSwitchCase="'number'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></textbox>
        <textbox id="email" *ngSwitchCase="'email'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></textbox>
        <textbox *ngSwitchCase="'password'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></textbox>
        <date *ngSwitchCase="'date'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></date>
        <time *ngSwitchCase="'time'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></time>
        <week-days *ngSwitchCase="'weekDays'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></week-days>
        <url *ngSwitchCase="'url'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></url>
        <dropdown *ngSwitchCase="'dropdown'" [field]="field" [form]="form" [isEditMode]="isEditMode" (formValue)="receiveFormValue($event)"></dropdown>
        <checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></checkbox>
        <radio *ngSwitchCase="'radio'" [field]="field" [form]="form"></radio>
        <file *ngSwitchCase="'file'" [field]="field" [form]="form"></file>

        <entity id="entity" *ngSwitchCase="'entity'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></entity>
        <dropdown-entity *ngSwitchCase="'entity-d'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></dropdown-entity>
        <group *ngSwitchCase="'group'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></group>
        <array *ngSwitchCase="'array'" [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></array>
        <auto-complete *ngSwitchCase="'auto-complete'" [isArray]='isArray' [field]="field" [form]="form" (formValue)="receiveFormValue($event)" [isEditMode]="isEditMode"></auto-complete>

        <p class="text-black">{{field.details}}</p>
        <div *ngIf="field.type != 'group' && field.type != 'array'">
            <div *ngIf="!isValid && isDirty ">
                <nb-alert status="danger" accent="primary">{{field.label}} {{'is Invalid' |translate}}</nb-alert>
            </div>
        </div>
    </div>
</div>