<div [formGroup]="form">
    <label *ngIf="!field.fromArray" for='field.name' class="label text-primary">{{field.label?field.label:field.name | translate}}</label>

    <label for='field.name' *ngIf="field.required && !field.fromArray" class="label text-danger">*</label>
    <!-- Modal Structure -->
    <!-- [attr.href]="'#' + field.label" [id]="field.name"  -->
    <input autocomplete="off" [name]="field.name" readonly [formControlName]="field.name" *ngIf="!field.multiple && !disabled" nbInput fullWidth fieldSize="medium" shape="rectangle" placeholder="{{ field.name | translate}}" [value]="fieldVal" (click)="openWindow(contentTemplate)">

    <input autocomplete="off" [name]="field.name" readonly [formControlName]="field.name" *ngIf="field.multiple  && !disabled" nbInput fullWidth fieldSize="medium" shape="rectangle" placeholder="{{ field.name | translate}}" [value]='multipleValue' (click)="openWindow(contentTemplate)">

    <input autocomplete="off" [name]="field.name" readonly [formControlName]="field.name" *ngIf="!field.multiple && disabled" nbInput fullWidth fieldSize="medium" shape="rectangle" placeholder="{{ field.name | translate}}" [value]="fieldVal">

    <input autocomplete="off" [name]="field.name" readonly [formControlName]="field.name" *ngIf="field.multiple  && disabled" nbInput fullWidth fieldSize="medium" shape="rectangle" placeholder="{{ field.name | translate}}" [value]='multipleValue'>
</div>

<ng-template #contentTemplate let-data>
    <input autocomplete="off" type="text" id="filter-text-box" [(ngModel)]="searchValue" nbInput fullWidth fieldSize="medium" (change)="filter()" shape="rectangle" placeholder="{{ 'Search..' | translate}}">

    <ag-grid-angular [attr.class]="class" #agGrid id="myGrid" style="width: 100%; height: 60vH;" class="ag-theme-alpine" [columnDefs]="columnDefs" [rowData]="rowData" [enableRtl]='override.isRTL()' (gridReady)="onGridReady($event)" rowSelection="single" [pagination]="true"
        [suppressRowClickSelection]="true" [rowSelection]='rowSelection' (selectionChanged)="onSelectionChanged($event)" [paginationAutoPageSize]="true" (rowSelected)="rowSelected($event)">
    </ag-grid-angular>

    <br>
    <button nbButton [status]="'danger'" hero [shape]="'rectangle'" fullWidth [size]="'medium'" (click)="selectRow()">
      {{'select' |translate}}
    </button>
</ng-template>