// // Menu

// .menu {
//     background-color: var(--background-light);
//     // border-radius   : 1em;
//     width           : 160px;
//     min-height          : 90vh;
//     height: -webkit-fill-available;
//     top             : 10vh;
//     right           : initial;
//     left            : 0;
//     transition      : 0.5s;
// }

// @media (max-width: 1000px) {
//     .menu {
//         display: none;
//     }

//     .container {
//         max-width: initial;
//     }
// }

// .list-group-item:hover {
//     color           : var(--primary-default);
// }

// .list-group-item {
//     border          : 1.5px solid rgba(0, 0, 0, .125);
//     border-top      : 0;
//     border-left     : 0;
//     border-right    : 0;
//     transition      : 0.5s;
//     background-color: var(--background-light);
//     color           : var(--color-default);
   
// }

// .list-group-item i {
//     opacity  : 0.7;
//     font-size: 1.8em;
// }

// p {
//     font-size: 0.8em;
//     opacity  : 0.8;
//     color           : var(--color-default) !important;
// }



