<div [formGroup]="form" class="row">
    <div class="input-field col s12">
        <h4 class="center">

            <a [attr.href]="form.value[field.name]" class="teal-text darken-4 center">
                <label>{{field.label}}</label> : {{'clickHere' | translate}}
            </a>
        </h4>
    </div>
</div>
