<div [formGroup]="form">
    <label *ngIf="!field.fromArray" for='field.name' class="label text-primary">{{field.label?field.label:field.name | translate}}</label>
    <label for='field.name' *ngIf="field.required && !field.fromArray" class="label text-danger">*</label>

    <input #autoInput [name]="field.name" [readOnly]="disabled || field.redonly" [formControlName]="field.name" autocomplete="off" (input)="onChange()" nbInput fullWidth fieldSize="medium" shape="rectangle" placeholder="{{ field.label?field.label:field.name | translate}}"
        [value]="fieldVal">
    <!-- <nb-autocomplete #auto>

        <nb-option (click)="onSelectionChange(option)" *ngFor="let option of options" [value]="option">
            {{ option[field.optionName] }}
        </nb-option>

    </nb-autocomplete> -->
</div>