<!-- <nb-action icon="play-circle-outline" (onClick)></nb-action> -->
<div *ngIf="cell.row != null">
    <nb-action class="text-danger"
     icon="play-circle" link='/pages/report/reportViewer/view/{{cell.row.id }}' 
     nbPopover="{{'runReport' | translate}}" nbPopoverTrigger="hint" nbPopoverPlacement="right"></nb-action>
</div>
<!-- link='/pages/report/reportViewer/view/{{cell.row.id ||0 }}' -->