<!-- <button class="btn-floating  waves-effect waves-light red z-depth-1" (click)="onClick($event)">
    <i class="material-icons">delete</i></button> -->

<nb-action class="text-danger" icon="trash-2-outline" (click)="onClick($event)" nbPopover="{{'delete' | translate}}" nbPopoverTrigger="hint" nbPopoverPlacement="right"></nb-action>