<div [formGroup]="form">
    <label for='field.name' class="label text-primary">{{field.label | translate}}</label>
    <label for='field.name' *ngIf="field.required" class="label text-danger">*</label>

    <nb-select [id]="field.name" [formControlName]="field.name" [multiple]='false' [selected]='selectedValue'
     fullWidth fieldSize="large" shape="rectangle" (selectedChange)="selectedChange($event)" placeholder='{{field.label | translate}}'>
        <nb-option *ngFor="let item of options" value='{{item.id}}'>{{item.name1}}</nb-option>
    </nb-select>
</div>