<div [formGroup]="form">
    <label *ngIf="!field.fromArray" for='field.name' class="label text-primary">{{field.label?field.label:field.name | translate}}</label>
    <label for='field.name' *ngIf="field.required && !field.fromArray" class="label text-danger">*</label>

    <ckeditor [id]="isArray?field.name+date:field.name" [formControlName]="field.name" [editor]="Editor"></ckeditor>

</div>