<section>
    <div class="container">
      <div class="card shadow-sm">
        <div class="card-body">

          <input type="text" class="form-control mb-2 mr-sm-2  mb-3" placeholder="Search">


          <table class="table table-hover ">
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let col of columnDefs">
                  {{ col.headerName }}
                </th>
                <th>
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rowData">
                <td>
                  <div class="form-check">
                    <input class="form-check-input " type="checkbox" value="" id="defaultCheck1" (change)="onChange(row)">
                  </div>
                </td>
                <td *ngFor="let field of columnDefs">
                  {{ row[field.headerName]}}
                </td>
                <td class="text-center">
                  <a class="text-danger" (click)="onDeleteClick(row)">
                    <i class="fa fa-trash fa-2x"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>

    </div>
  </section>