thead,
.table-striped {
    background-color: var(--background-tertiary) !important;
}

td,
tr,
th {
    color: var(--color-default);

}

.table-hover tbody tr:hover {
    color           : var(--color-default);
    background-color: var(--background-tertiary) !important;
}

.table th,
.table td {
    border-top: 1px solid var(--background-tertiary) !important;
    vertical-align: middle;
}

.table thead th {
    vertical-align: bottom;
    border-bottom : 0px solid var(--color-default);
    text-align: center;
}

thead th {
    text-transform: capitalize;

    // th:first-of-type {
        // border-radius: 45px 0 0 45px;
    // }
}
.form-check{
    margin-top: -0.7em;
}
// td:last-of-type,
// thead th:last-of-type {
//     // border-radius: 0px 45px 45px 0px;
// }