<div [formGroup]="form">
    <div [formGroupName]="field.name">
            <label for='field.name' class="label text-primary">{{field.label?field.lable:field.name | translate}}</label>

        <label for='field.name' *ngIf="field.required" class="label text-danger">*</label>
        <br>
        <nb-checkbox [checked]="false" status="primary" (checkedChange)="checkedChange($event)">{{field.label}}</nb-checkbox>

    </div>

</div>