<div [formGroup]="form">
    <div [formGroupName]='field.name' class="form">
        <label class="label text-primary">{{ field.label?field.label:field.name | translate}} {{'in '+override.currentLang | translate}}</label>
        <label *ngIf="field.required" class="label text-danger">*</label>

        <ckeditor [id]="field.name[override.currentLang]" [formControlName]="override.currentLang" [editor]="Editor"></ckeditor>

    </div>

</div>