@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
// loading progress bar theme
@import './pace.theme';
@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();
  @include nb-overrides();
}

;
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

// .ag-theme-alpine {
//     @include ag-theme-alpine();
// }
@font-face {
  font-family: 'Font Awesome 5 Free' !important;
  @import "~font-awesome/css/font-awesome.min.css";
}




////////////// Themes  //////////////


:root {
  /* Colors */
  --color-default   : #08090a;
  --color-secondary : #41474d;
  --color-tertiary  : #797c80;
  --color-quaternary: #f4faff;
  --color-light     : #41474d;

  --background-default  : #f4faff;
  --background-secondary: #a3b9cc;
  --background-tertiary : #F8F8F8;
  --background-light    : #ffffff;

  --primary-default: #0069D9;
  --primary-dark   : #24b286;
  --primary-light  : #b2ffe7;

  --error-default: #ef3e36;
  --error-dark   : #800600;
  --error-light  : #ffcecc;

  /* Shadows */
  --shadow-sm                 : 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  --shadow-md                 : 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  --shadow-lg                 : 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

* {
  transition: 0.2s !important;
}

body {
  background: var(--background-tertiary);
  transition: 0.3s;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
li {
  color: var(--color-default);
}

////////////// nb Edits //////////////
nb-layout-column {
  background: var(--background-tertiary);
  transition: 0.5s;
}

.nb-theme-default h4 , .nb-theme-corporate h4{
  color         : var(--color-default) !important;
  text-transform: capitalize;
}

.nb-theme-default [nbInput].status-basic, .nb-theme-cosmic  [nbInput].status-basic,
.nb-theme-default nb-select.appearance-outline.status-basic .select-button  , .nb-theme-cosmic nb-select.appearance-outline.status-basic .select-button {
  background-color: var(--background-tertiary) !important;
  font-size       : 0.8em;
  border-color    : var(--background-tertiary) !important;
  transition      : 0.5s;
}
.nb-theme-cosmic nb-layout.window-mode .layout nb-layout-header {
  background: transparent !important;
  box-shadow: none !important;
  overflow: hidden;
}
.nb-theme-cosmic nb-checkbox.status-primary .custom-checkbox:hover {
  background-color: rgba(161, 110, 255, 0.16);
  border-color: var(--color-quaternary) !important;
}
// // menu

// .nb-theme-default nb-sidebar .main-container {
//   width: 10rem;
// }

// .nb-theme-default nb-sidebar .scrollable::-webkit-scrollbar-track {
//   background: transparent !important;
// }
// .nb-theme-default nb-sidebar .scrollable::-webkit-scrollbar-thumb {
//   background: transparent !important;
// }

// .nb-theme-default nb-sidebar.compacted {
//   left   : -5em !important;
//   opacity: 0 !important;
// }

// .nb-theme-default nb-sidebar.expanded {
//   width     : 16rem;
//   background: none !important;
//   transition: 0s !important;
//   box-shadow: none !important;
// }

// .nb-theme-default nb-menu .ng-star-inserted {
//   display: block !important;
//   color  : var(--color-default) !important;
// }

// .nb-theme-default nb-menu .menu-item,
// .nb-theme-default nb-menu .menu-item .menu-item:first-child {
//   border-bottom: 1.5px solid rgba(0, 0, 0, .125) !important;
// }

// .menu-item .menu-item:first-child {
//   border-top: 1.5px solid rgba(0, 0, 0, .125) !important;
// }

// .nb-theme-default nb-menu .menu-item .menu-item:last-child {
//   border-bottom: 0 !important;
// }

// .nb-theme-default nb-menu .menu-icon {
//   color     : var(--color-default) !important;
//   opacity   : 0.7 !important;
//   font-size : 2rem !important;
//   margin    : auto !important;
//   transition: 0.3s !important;

//   &:hover {
//     color: var(--primary-default) !important;
//   }
// }

// .nb-theme-default nb-menu .menu-title {
//   color     : var(--color-default) !important;
//   opacity   : 0.7 !important;
//   font-size : 1em !important;
//   display   : block !important;
//   text-align: center !important;
// }

// .nb-theme-default nb-menu .expand-state {
//   display: none !important;
// }


////////////// Bootstrap Edits //////////////
.custom-select,
.form-control,
.custom-file {
  border-radius   : 40px;
  background-color: var(--background-tertiary) !important;
  border          : 0;
  font-size       : 0.8em;
  padding         : 1.375rem 1.75rem;
  transition      : 0.5s;
}

.custom-select {
  padding: 0.375rem 1.75rem 0.375rem 1.75rem;
  height : calc(2.5em + .75rem + 2px);
}

.btn-rounded {
  border-radius: 25px;
  width        : 7em;
}

section {
  margin-top: 3vh;
}

.container {
  @media (min-width: 1200px) {
    max-width  : 86%;
    margin-left: 8%;
  }
}

.fullWidthContainer {
  @media (min-width: 1200px) {
    max-width  : 90%;
    margin-left: 5%;
  }
}

.card {
  border-radius   : 25px;
  overflow        : hidden;
  background-color: var(--background-light);
  box-shadow      : var(--shadow-sm) !important;
  ;
}


/*scroll style*/

::-webkit-scrollbar {
  width  : 10px;
  opacity: 0;
}

::-webkit-scrollbar:hover {
  opacity: 1
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}