<!-- <div [formGroup]="form">
        <label for='field.name' class="label text-primary">{{field.name | translate}}</label>

    <label for='field.name' *ngIf="field.required" class="label text-danger">*</label>

        <input *ngIf="!field.multiline" [format]="24"  [ngxTimepicker]="picker"  
         type="text"  readonly [id]="isArray?field.name+date:field.name" [name]="field.name" 
        [formControlName]="field.name"  (change)="formValue.emit(this.form.value)" nbInput fullWidth fieldSize="large"
           shape="rectangle" placeholder="{{ field.name | translate}}">
    <ngx-material-timepicker #picker ></ngx-material-timepicker>


</div> -->
<!-- [min]="field.name!='fromHour'?form.get('fromHour').value || null:null" -->