<nav class="navbar navbar-expand-lg  fixed-top  shadow-sm  navbar-light">


    <a class="navbar-brand d-lg-none" href="#"><img src="logo.png"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="navbar-toggler-icon"></span></a>
        </li>
        <li class="nav-item pt-1">
          <div class="custom-control ml-2 custom-switch mt-2">
            <input type="checkbox" class="custom-control-input " id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
          </div>

        </li>


      </ul>



      <a class="navbar-brand d-none d-lg-block" href="#">
        <img src="logo.png">
      </a>




      <ul class="navbar-nav">
        <!-- <li class="nav-item  mr-sm-2">
          <select class="custom-select ">
            <option selected value="en">English</option>
            <option value="ar">Arabic</option>
          </select>
        </li> -->
        <li class="nav-item  mr-sm-2">
          <nb-select [shape]="'round'" [size]="'medium'">
              <nb-option>English</nb-option>
              <nb-option>Arabic</nb-option>
          </nb-select>
        </li>
        <li class="nav-item  mr-sm-2">
          <input class="form-control" type="text" placeholder="Search....">
        </li>
        <li class="nav-item">
          <a class="nav-link ml-sm-2" id="userType" href="#"><i class="fas  fa-user"></i></a>
        </li>
      </ul>
    </div>
  </nav>
