<div [formGroup]="form">
    <label for='field.name' class="label text-primary">{{field.name | translate}}</label>
    <label for='field.name' *ngIf="field.required" class="label text-danger">*</label>

    <input [name]="field.name" readonly [formControlName]="field.name" 
    nbInput fullWidth fieldSize="large" shape="rectangle" placeholder="{{ field.name | translate}}"  [value]="fieldVal" (click)="openWindow(contentTemplate)">
</div>



<ng-template #contentTemplate let-data>
    <ag-grid-angular #agGrid id="myGrid" style="width: 100%; height: 300px;" class="ag-theme-balham" [columnDefs]="columnDefs" [rowData]="rowData" [enableRtl]='override.isRTL()' (gridReady)="onGridReady($event)" rowSelection="single" [pagination]="true"
        [suppressRowClickSelection]="true" [rowSelection]='rowSelection' (selectionChanged)="onSelectionChanged($event)" [paginationAutoPageSize]="true" (rowSelected)="rowSelected($event)">
    </ag-grid-angular>

    <button nbButton  [status]="'success'" hero [shape]="'round'" [size]="'medium'" (click)="selectRow()">
      {{'select' |translate}}
    </button>
</ng-template>
<!-- (onchange)="formValue.emit(this.form.value)"  -->