<div [formGroup]="form">
    <label *ngIf="!field.fromArray" for='field.name' class="label text-primary">{{field.label?field.label:field.name | translate}}</label>
    <label for='field.name' *ngIf="field.required && !field.fromArray" class="label text-danger">*</label>

    <input autocomplete="off" *ngIf="!field.multiline" [attr.type]="field.type" [min]="field.min" [attr.readonly]="field.readOnly" [id]="isArray?field.name+date:field.name" [name]="isArray?field.name+date:field.name" [formControlName]="field.name" (change)="formValue.emit(this.form.value)"
        nbInput fullWidth fieldSize="medium" shape="rectangle" placeholder="{{ field.label?field.label:field.name | translate}}">

    <textarea autocomplete="off" *ngIf="field.multiline" [formControlName]="field.name" [id]="field.name" [attr.readonly]="field.readOnly" (onchange)="formValue.emit(this.form.value)"  rows="2" nbInput fullWidth shape="rectangle"
        placeholder="{{ field.label?field.label:field.name | translate}}"></textarea>

</div>
