<app-navbar></app-navbar>

<app-menu></app-menu>

<app-breadcrumb></app-breadcrumb>

<app-cards></app-cards>


<app-table-buttons></app-table-buttons>

<app-table></app-table>

<app-form-card></app-form-card>

<app-login-form></app-login-form>