<app-breadcrumb [path]="{entity: input.entityName, section: 'control'}"></app-breadcrumb>
  <section id="headerButton">
    <div class="container">
      <div class="card shadow-sm">
        <div class="card-body d-flex ">
          <div class="col-3 ">
            <h4 class="align-self-center">{{ input.entityName | translate }}</h4>
          </div>
          <div class="col-9 align-self-center">
            <button
            type="button"
            class="btn btn-success btn-sm btn-rounded mr-sm-2 float-right"
            routerLink="/pages/{{ input.path ? input.path : input.entityName }}/all"
            >
              <i class="fa fa-list mr-sm-2"></i> {{ "View All" | translate }}
            </button>
            <button
            type="button"
            class="btn btn-warning btn-sm btn-rounded mr-sm-2 float-right"
            [disabled]="!form.valid"
            (click)="onSubmit(this.form.value)"
            >
              <i class="fa fa-edit mr-sm-2"></i> {{"Save" | translate}}
            </button>



            <button
            type="button"
            class="btn btn-secondary btn-sm btn-rounded mr-sm-2 float-right"
            [disabled]="!form.valid"
            (click)="print()">
              <i class="fa fa-print mr-sm-2"></i>  {{ "Print" | translate }}
            </button>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="container mt-3">
    <nb-card>
      <nb-card-header>

      </nb-card-header>
      <nb-card-body>

        <form id="print-section" [formGroup]="form" >
          <div class="form-row">
            <div *ngFor="let field of input.fields" [attr.class]="field.class?field.class:'col-md-12'">
              <field-builder [field]="field" [form]="form" [isEditMode]="isEditMode" [entityId]="entityId"></field-builder>
            </div>
          </div>
        </form>
      </nb-card-body>

    </nb-card>
    <!-- <div class="card shadow-sm">
      <div class="card-body">

      </div>
    </div> -->
  </div>


<div *ngIf="input.noCard">
  <div class="row" *ngIf="!input.NoButtons">
    <div class="col-8 item text-heading">
      <div class="row">
        <div class="col">
          <h4 class="text-info">{{ input.entityName | translate }}</h4>
        </div>

        <div class="col d-flex align-items-center" *ngIf="updatedAt">
          <label class="text-black">{{ "creation Date : " | translate
                  }}{{ updatedAt | date: "short" }}</label>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <button nbButton [status]="'info'" hero [shape]="'round'" nbPopover="alt + a" nbPopoverTrigger="hint"
        nbPopoverPlacement="right" accesskey="a" [size]="'medium'" routerLink="/pages/{{ input.entityName }}/all">
        {{ "viewAll" | translate }}
      </button>
    </div>
    <div class="col text-center">
      <button nbButton [status]="'danger'" hero [shape]="'round'" nbPopover="alt + s" nbPopoverTrigger="hint"
        nbPopoverPlacement="right" accesskey="s" [disabled]="!form.valid" [size]="'medium'"
        (click)="onSubmit(this.form.value)">
        {{ "save" | translate }}
      </button>
    </div>
    <div class="col text-center">
      <button nbButton [status]="'warning'" hero [shape]="'round'" nbPopover="alt + p" nbPopoverTrigger="hint"
        nbPopoverPlacement="right" accesskey="p" [disabled]="!form.valid" [size]="'medium'" (click)="print()">
        {{ "print" | translate }}
      </button>
    </div>
  </div>
  <hr *ngIf="!input.NoButtons">
  <form id="print-section" [formGroup]="form">
    <div class="row">
      <div *ngFor="let field of input.fields" [attr.class]="field.class?field.class:'col-md-12'">
        <field-builder [field]="field" [form]="form" [isEditMode]="isEditMode" [entityId]="entityId"></field-builder>
      </div>
    </div>
  </form>s
</div>
