<form [formGroup]="form" class="form-horizontal">
    <div *ngFor="let field of input.fields">
        <field-builder [field]="field" [form]="form" [isEditMode]=isEditMode (formValue)="receiveFormValue($event)" [entityId]="entityId"></field-builder>
    </div>
    <!-- <button class="waves-effect waves-light white-text btn-large red right" [disabled]="form.invalid" (click)="formValue.emit(this.form.value)"><i class="material-icons left">save</i>{{'save' | translate}}</button> -->

</form>