<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <form [formGroup]="form" class="form-horizontal">

                <div class="card">
                    <div class="card-header  deep-orange accent-4">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="card-title white-text right m-2">{{input.viewTitle | translate}}</h4>
                            </div>
                            
                            <div class="col  text-center">
                                <button nbButton [status]="'info'" hero [shape]="'round'" [size]="'medium'" routerLink="/pages/{{input.entityName}}/all">
                        {{'viewAll' |translate}}
                      </button>
                    
                            </div>
                            <div class="col">
                                <button nbButton [status]="'danger'" filled [shape]="'round'" [size]="'medium'" (click)="print()" >{{'print' | translate}}</button>
                    
                            </div>
                        </div>

                        
                    </div>
                    <div  class="card-body">
                         <div class="row">
                            <div class="col-md-6" *ngFor="let field of input.fields">
                                <field-builder [field]="field" [form]="form" [isEditMode]='isEditMode' [entityId]="entityId"></field-builder>
                            </div>
                        </div>
                        <!-- <button class="waves-effect waves-light white-text btn-large red right" [disabled]="form.invalid" (click)="onSubmit(this.form.value)"><i class="material-icons left">save</i>{{'save' | translate}}</button> -->
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
