<div [formGroup]="form">
    <label for='field.name' class="label text-primary">{{field.label | translate}}</label>

    <label for='field.name' *ngIf="field.required" class="label text-danger">*</label>
    <input [id]="field.name" [name]="field.name" readonly [formControlName]="field.name" autocomplete="off" nbInput placeholder="{{field.label | translate}}" [nbDatepicker]="formpicker" fullWidth fieldSize="large" shape="rectangle">
    <nb-datepicker #formpicker (dateChange)="dateChange($event)"></nb-datepicker>

</div>