<section>
    <div class="container mt-5 pt-2">
          <div class="container min-container py-md-5 mt-5">
            <div class="card-panel p-sm-5 position-relative">
              <div class="text-center">
                <img [src]=imgSrc  alt="Logo" class="img-fluid  w-50">
                <!-- <h1 class="h2 mt-5">Welcome....!</h1> -->
              </div>
              <form [formGroup]="form" (submit)="onSubmit()" id="loginForm" class="mt-5 pt-3">
                <p class="small mb-2 text-scarlet"></p>
                <div class="form-group position-relative">
                  <label for="email" class="sr-only">Email</label>
                  <input class="form-control input-lg " id="email"  type="text" placeholder="Email / Username" formControlName="email"
                  [ngClass]="{'border-danger': email.touched && email.invalid,'border-success': email.valid}" >
                  <i class="fa fa-user fa-lg position-absolute"></i>
                  <small class="form-text  text-danger"  *ngIf=" email.touched && email.errors?.required">
                      must be required
                  </small>
                </div>
                <label for="password" class="pull-left sr-only">Password</label>
                <div class="position-relative">
                  <input class="form-control input-lg " id="password"  type="password" placeholder="Password" formControlName="password"
                  [ngClass]="{'border-danger': password.touched && password.invalid,'border-success': password.valid}" >
                  <i class="fa fa-lock fa-lg position-absolute"></i>
                  <small class="form-text  text-danger"  *ngIf=" password.touched && password.errors?.required">
                      must be required
                  </small>
                  <small class="form-text   text-danger" *ngIf="password.errors?.minlength">
                      must be rang {{password.errors?.minlength.requiredLength }}
                  </small>
                  </div>
                <div class="text-center my-4 mt-5">
                  <button class="btn btn-primary text-white text-uppercase btn-rounded " type="submit">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  </section>
