/* navbar */
.navbar {
  height: 10vh;
  z-index: 55555;
  background-color: var(--background-light);
  box-shadow: var(--background-tertiary-shadow);
}

.navbar-brand img {
  position: relative;
  left: 80px;
  height: -webkit-fill-available;
  width: auto;
  height: 7vh;


}

#userType {
  background: #333;
  color: #fff;
  border-radius: 45px;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  font-size: 1.2em;
}

#userType i {
  opacity: 0.9;
  line-height: 1.5em;
}

.block[_ngcontent-aws-c228] {
  /* height: 60px; */
  /* width: 60px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 1s ease;
  /* background-image: linear-gradient(90deg, #fd5581, #fd8b55); */
  /* box-shadow      : 0 2px 18px 0 rgba(248, 94, 122, 0.39), 0 1px 2px 0 rgba(248, 91, 124, 0.33); */
}

.cta {
  height: 50px;
  width: 50px;
  cursor: pointer;
}


.toggle-btn {
  height: 2px;
  width: 25px;
  background-color: var(--color-default);
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.toggle-btn:before {
  content: "";
  height: 2px;
  width: 25px;
  box-shadow: 0 -10px 0 0 var(--color-default);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.toggle-btn:after {
  content: "";
  height: 2px;
  width: 25px;
  box-shadow: 0 10px 0 0 var(--color-default);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.active .toggle-btn {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.active .toggle-btn:before {
  top: 0;
  transition: all 0.3s ease-in-out;
}

.active .toggle-btn:after {
  top: 0;
  transition: all 0.3s ease-in-out;
}

.active .type8 {
  background-color: var(--color-default);
}

.active .type8:before {
  left: -10px;
  box-shadow: 0 -10px 0 0 var(--color-default);
  transform: translateY(0) rotate(90deg);

}

.active .type8:after {
  box-shadow: 0 0 0 0 var(--color-default);
  background: var(--color-default);
}
