<nav class="navbar navbar-expand-lg  fixed-top  shadow-sm  navbar-light">


    <a class="navbar-brand d-lg-none img-fluid" routerLink="/" ><img  [src]=imgSrc ></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"> <span class="navbar-toggler-icon"></span></a>
        </li> -->
        <li class="nav-item">

          <div class="block" (click)="toggleSidebar()"  [ngClass]="active ? 'active' : 'block'"  >
            <div class="cta">
                <div class="toggle-btn type8">

                </div>
            </div>
        </div>

        </li>
        <li class="nav-item pt-1"  data-toggle="tooltip" data-placement="right" [title]=title >
          <div class="custom-control ml-2 custom-switch mt-2" (click)="selectTheme()">
            <input type="checkbox" class="custom-control-input " [checked]=checked  (click)=" toggleTheme()" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
          </div>

        </li>



      </ul>



      <a class="navbar-brand d-none d-lg-block" routerlink="/">
        <img  [src]=imgSrc>
      </a>




      <ul class="navbar-nav">
        <li class="nav-item  mr-sm-2">
          <select class="custom-select "   [formControl]="language">
            <option  value="en" >English</option>
            <option value="ar" >Arabic</option>
          </select>
        </li>
        <li class="nav-item  mr-sm-2">
          <!-- <input class="form-control" type="text" placeholder="Search...."> -->
          <nb-search type="rotate-layout"></nb-search>
        </li>
        <li class="nav-item">
           <button routerLink="/login" (click)="login()" class="nav-link ml-sm-2" id="userType" ><i class="fas  fa-user"></i> </button>
        </li>
        <!-- <li class="nav-item  mr-sm-2">
          <select class="custom-select "  >
            <option  value="login" (click)="login()" >login</option>
            <option value="logout" (click)="authService.signOut()">logout</option>
          </select>
        </li> -->
      </ul>
    </div>
  </nav>
