<hr>
<form [formGroup]="form">
    <h5 class="text-info text-center">{{field.name | translate}}</h5>
    <div class="row">
        <div class="col-md-6" [formGroupName]='field.name' *ngFor="let f of field.children">
            <field-builder [field]="f" [form]="outputForm" [isEditMode]="isEditMode"></field-builder>

        </div>
    </div>

</form>
<hr>
