<app-breadcrumb [path]="{entity: entityData.name, section: 'all'}"></app-breadcrumb>

<section id="headerButton">
  <div class="container">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="col-12 d-flex">
          <div class="col-3 ">
            <h4 class="align-self-center">{{entityData.label ? entityData.label : entityData.name | translate}}</h4>
          </div>
          <div class="col-9 align-self-center">
            <button type="button" class="btn btn-success btn-sm btn-rounded mr-sm-2 float-right" (click)="openWindow()"
              *ngIf="entityData.upload"><i class="fa fa-file-excel mr-sm-2"></i> {{"Upload" | translate}}</button>
            <button *ngIf="entityData.edit" [disabled]="!entityId"
              routerLink="/pages/{{entityData.path ? entityData.path : entityData.name }}/edit/{{ entityId }}"
              type="button" class="btn btn-warning btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fa fa-print mr-sm-2"></i> {{"Edit" | translate}}</button>
            <button *ngIf="entityData.view" [disabled]="!entityId" routerLink="/pages/{{
                entityData.path ? entityData.path : entityData.name
              }}/view/{{ entityId }}" type="button" class="btn btn-danger btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fa fa-list mr-sm-2"></i> {{"View" | translate}}</button>
            <button *ngIf="entityData.add" routerLink="/pages/{{
                entityData.path ? entityData.path : entityData.name
              }}/control" type="button" class="btn btn-primary btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fa fa-plus-circle mr-sm-2"></i> {{"Add" | translate}}</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

<!-- <app-table [columnDefs]="entityData.all.columnDefs" [entityName]="entityData.name"></app-table> -->
<div class="container pt-3">

  <ag-grid-angular
   #agGrid id="myGrid" style="width: 100%; height: 650px;"
   [attr.class]="class" [columnDefs]="columnDefs"
   [rowData]="rowData" [enableRtl]="override.isRTL()"
   [defaultColDef]="defaultColDef"
   (gridReady)="onGridReady($event)" rowSelection="single"
              [singleClickEdit]="true" [localeText]="override.localeText" [suppressClickEdit]="false" [frameworkComponents]="frameworkComponents" (cellEditingStopped)="cellEditingStopped($event)" [pagination]="true" (selectionChanged)="onSelectionChanged()"
              [suppressRowClickSelection]="true" (paginationChanged)="onPaginationChanged()" [paginationPageSize]="paginationPageSize" (rowSelected)="rowSelected($event)" [singleClickEdit]="true" [suppressClickEdit]="false">
          </ag-grid-angular>
</div>
<ng-template #contentTemplate let-data>
  <div class="drop-container dropzone" dropZone (dropped)="uploadFile($event)">
    <p class="m-0">
      {{ "Drag a file here or" | translate }}
      <label class="upload-button">
        <input type="file" accept=".xlsx, .xls" type="file" (change)="uploadFile($event)" />
        {{ "browse" | translate }}
      </label> {{ "to upload" | translate }}.
    </p>
  </div>
</ng-template>
