<section>
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-body pt-5 pr-5 pl-5 pb-5">
                
                    <form>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationServer013">Article Title</label>
                                <input type="text" class="form-control is-valid" id="validationServer013"
                                    placeholder="Article Title" required>
                                <div class="valid-feedback">
                                    Input description
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationServer023 mb-5">Article Image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label btn text-left" for="customFile">Choose file</label>
                                </div>
                                <div class="valid-feedback">
                                    Input description
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationServer033">City</label>
                                <input type="text" class="form-control is-invalid" id="validationServer033"
                                    placeholder="City" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationServer043">State</label>
                                <input type="text" class="form-control is-invalid" id="validationServer043"
                                    placeholder="State" required>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationServer053">Zip</label>
                                <input type="text" class="form-control is-invalid" id="validationServer053"
                                    placeholder="Zip" required>
                                <div class="invalid-feedback">
                                    Please provide a valid zip.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input is-invalid"
                                            id="invalidCheck33" required>
                                        <label class="custom-control-label" for="invalidCheck33">Agree to terms and
                                            conditions</label>
                                        <div class="invalid-feedback">
                                            You must agree before submitting.
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3  align-content-end">
                                <button type="button" class="btn btn-primary float-right  btn-rounded"><i
                                        class="fas fa-plus-circle mr-sm-2"></i> Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            
        </div>
    </div>
</section>