
label{
    color           : var(--color-default);
}
.custom-file-label {
    height          : calc(1.5em + 1.1rem + 2px);
    color           : #495057;
    background-color: transparent;
    border          : 0px solid #ced4da;
    padding         : 0.55em 1.2em 0.55em 1.2em;
}

.custom-file-label::after {
    font-family     : "Font Awesome 5 Free";
    height          : initial;
    padding         : .59rem .75rem;
    line-height     : 1.5;
    /* color        : blue; */
    content         : "\f1c5" !important;
    background-color: var(--background-tertiary) !important;
    border-radius   : 0 40px 40px 0;
    transition      : 0.5s;
}