section{  margin-top: 5vh;}
.col-3,
.col-4,
.col-5,
.col-6
 {
    padding: 0;
}

.cardOne {
    height: fit-content;
    padding: 0;
    .nav-link {
        border-color: 0;
        transition  : 0.5s;
        // background  : var(--background-tertiary);
    }

    .activeCard {
        background  : var(--background-light);
        border-color: var(--background-light);
    }

    .list-group-item {
        background: var(--background-light);
        font-size: 0.8em;
    }

    .list-group-item:hover {
        background: var(--background-tertiary);
    }

    img {
        width    : 100%;
        max-width: 100%;
        height   : 25vh;
    }

    h5 {
        display: contents;
    }
    p{
        font-size: 0.8em;
    }
   
}

// CardOne


.cardTwo{

.card{
    // height: 20vh;
}
h4{
    font-size: 1.3em;
}

}