<section>
    <div class="container">
        <div class="row pl-3 pr-3">

            <div class="col"></div>

            <div class="card  mt-sm-2 mb-sm-2 col-lg-5 col-10  cardOne">
                <div class="card-img-top">
                    <img src="../../../assets/img/articles.jpg">
                </div>
                <div class="card-header  d-flex justify-content-between align-items-center">
                    <h5>Articles Title</h5>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link activeCard" data-toggle="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab">Another Info</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-0">
                    <div class="tab-content ">
                        <div class="tab-pane active p-4 " role="tabpanel">
                            <div id="tab-content ">
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                        irure
                                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur sunt in culpa qui officia
                                        deserunt
                                        mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  " role="tabpanel">
                            <ul class="list-group list-group-flush ml-0 mb-2">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Author
                                    <span class="badge">Zyad</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Publish Data
                                    <span class="badge">12/6/2020</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Seen by
                                    <span class="badge">000.00</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Create Date
                                    <span class="badge">December 24, 2013</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center ">
                                    Last Updated
                                    <span class="badge">December 16, 2019</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
                    <b></b>
                    <a class="btn btn-primary text-white btn-rounded ">Button</a>
                </div>
            </div> <!-- cardOne -->
            
            <!-- ---------------------------------------- -->
            <div class="col-lg-6 col-xs-9 cardTwo">
                    <div class="container  ">
                        <div class="row  justify-content-center   pl-3 pr-3">

                        <div class="card mr-4 mt-sm-2 ml-4 mb-sm-2 pl-3 pr-3 pt-3 pb-3 col-lg-4 col-xs-12 text-center">
                            <div class="box">
                                <i class="far fa-2x fa-newspaper text-primary fa-2x" aria-hidden="true"></i>
                                <p class="mt-2">Articles</p>
                                <h4 class="">86</h4>
                            </div>
                        </div>


                        <div class="card mr-4 mt-sm-2 ml-4 mb-sm-2 pl-3 pr-3 pt-3 pb-3 col-lg-4 col-xs-12 text-center">
                            <div class="box">
                                <i class="  fas  fa-desktop text-primary fa-2x" aria-hidden="true"></i>
                                <p class="mt-2">Pages</p>
                                <h4 class="">22</h4>
                            </div>
                        </div>


                        <div class="card mr-4 mt-sm-2 ml-4 mb-sm-2 pl-3 pr-3 pt-3 pb-3 col-lg-4 col-xs-12 text-center">
                            <div class="box">
                                <i class="fas fa-user-friends text-primary fa-2x" aria-hidden="true"></i>
                                <p class="mt-2">Users</p>
                                <h4 class="">5549</h4>
                            </div>
                        </div>


                        <div class="card mr-4 mt-sm-2 ml-4 mb-sm-2 pl-3 pr-3 pt-3 pb-3 col-lg-4 col-xs-12 text-center">
                            <div class="box">
                                <i class="far fa-comments text-primary fa-2x" aria-hidden="true"></i>
                                <p class="mt-2">Comments</p>
                                <h4 class="">876</h4>
                            </div>
                        </div>


                        <div class="card mr-4 mt-sm-2 ml-4 mb-sm-2 pl-3 pr-3 pt-3 pb-3 col-lg-4 col-xs-12 text-center">
                            <div class="box">
                                <i class="far fa-calendar-check text-primary fa-2x" aria-hidden="true"></i>
                                <p class="mt-2">Events</p>
                                <h4 class="">86</h4>
                            </div>
                        </div>


                        <div class="card mr-4 mt-sm-2 ml-4 mb-sm-2 pl-3 pr-3 pt-3 pb-3 col-lg-4 col-xs-12 text-center">
                            <div class="box">
                                <i class="far fa-2x fa-newspaper text-primary fa-2x" aria-hidden="true"></i>
                                <p class="mt-2">Articles</p>
                                <h4 class="">86</h4>
                            </div>
                        </div>

                    </div>



                </div>
            </div>


        </div>
    </div>
</section>