<div class="container">

    <nav aria-label="breadcrumb" id="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><h4 class="">{{'Dashboard' |titlecase |translate}}</h4></li>
        <li class="breadcrumb-item"><a href="#">{{  path.entity | titlecase |translate}}</a></li>
        <li class="breadcrumb-item active"><a href="#">{{ path.section | titlecase}}</a></li>
      </ol>

    </nav>
  </div>
