/* breadcrumb */

#breadcrumb {
    margin-top: 1vh;

}

.breadcrumb {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    border-bottom: 1px solid  var(--color-default);
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
    line-height: 2em;
}
a{
color:    var(--color-default)
}

h4{
    color: var(--color-default );
}