<nb-select [id]="name" [multiple]='false' [selected]='selectedValue'
fullWidth fieldSize="large" shape="rectangle" (selectedChange)="selectedChange($event)"  placeholder='{{name | translate}}'> 
   <nb-option *ngFor="let item of data" value='{{item.id}}'>{{override.isRTL()?item.name2:item.name1}}</nb-option>
</nb-select>