<section id="headerButton">
    <div class="container">
      <div class="card shadow-sm">
        <div class="card-body d-flex ">
          <div class="col-3 ">
            <h4 class="align-self-center">Articles</h4>
          </div>
          <div class="col-9 align-self-center">
            <button type="button" class="btn btn-success btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fas fa-file-excel mr-sm-2"></i> Excel</button>
            <button type="button" class="btn btn-warning btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fas fa-print mr-sm-2"></i> Print</button>
            <button type="button" class="btn btn-danger btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fas fa-trash-alt mr-sm-2"></i> Delete</button>
            <button type="button" class="btn btn-secondary btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fas fa-edit mr-sm-2"></i> Edit</button>
            <button type="button" class="btn btn-primary btn-sm btn-rounded mr-sm-2 float-right"><i
                class="fas fa-plus-circle mr-sm-2"></i> Add</button>
          </div>
        </div>
      </div>

    </div>
  </section>